@use "../../variables";
@use "../../mixins";

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  button {
    width: fit-content;
    padding: 5px 12px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: variables.$accent-color;
  }
}
